/.venv/
__pycache__/
*.py[cod]
*.so
*.dylib
*.egg-info/
.eggs/
.pytest_cache/
.mypy_cache/
ruff_cache/
.cache/
.cache/**
reports/
!reports/.gitkeep
.env
.env.*
*.parquet
.DS_Store
.ipynb_checkpoints/
.idea/
.vscode/
*.png
*.csv
*.json
